<div class="app-videos">
    <div class="content-toolbar">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <button pButton *userPermission icon="pi pi-upload" label="Upload"
                    (click)="toolbarState='upload'"></button>
                <button pButton icon="pi pi-search" label="Search" (click)="toolbarState='search'"></button>
            </div>
        </p-toolbar>
        <p-fieldset *ngIf="toolbarState==='upload'" legend="Upload">
            <p-fileUpload #fileUpload [files]="uploadFileList" accept="video/mp4" customUpload="true"
                [showUploadButton]=false (uploadHandler)="uploadFiles($event)" multiple="multiple">
                <ng-template pTemplate="toolbar">
                    <div>Videos Date: <p-calendar [(ngModel)]="videosDate" dateFormat="M-dd-yy"></p-calendar>
                        <button pButton class="ui-button-success" [disabled]="fileUpload.files.length===0"
                            icon="pi pi-upload" label="Upload" (click)="fileUpload.upload($event)"></button>
                    </div>
                </ng-template>
            </p-fileUpload>
        </p-fieldset>
        <p-fieldset *ngIf="toolbarState==='search'" legend="Search">
            <p-calendar [(ngModel)]="startDate" [maxDate]="endDate" dateFormat="M-dd-yy"></p-calendar>
            <p-calendar [(ngModel)]="endDate" [minDate]="startDate" dateFormat="M-dd-yy"></p-calendar>
            <button pButton class="ui-button-success" icon="pi pi-search" icon="pi pi-search" label="Search"
                (click)="refreshVideos()"></button>
        </p-fieldset>
    </div>

    <div class="content-view">
        <p-accordion [multiple]="true">
            <ng-container *ngFor="let videos of videosGroup">
                <p-accordionTab [header]="videos.date" [selected]="true">
                    <lightbox [sources]="videos.videos" [type]="'video'"></lightbox>
                </p-accordionTab>
            </ng-container>
        </p-accordion>
    </div>
</div>