<div class="app-videos">
    <p-fileUpload [files]="uploadFileList" accept="video/mp4" customUpload="true" (uploadHandler)="uploadFiles($event)"
        multiple="multiple">
        <ng-template pTemplate="toolbar">
            <div>Videos Date: <p-calendar [(ngModel)]="videosDate" dateFormat="M-dd-yy"></p-calendar>
            </div>
        </ng-template>
    </p-fileUpload>
    <p-calendar [(ngModel)]="startDate" [maxDate]="endDate" dateFormat="M-dd-yy"></p-calendar>
    <p-calendar [(ngModel)]="endDate" [minDate]="startDate" dateFormat="M-dd-yy"></p-calendar>
    <button pButton icon="pi pi-search" icon="pi pi-search" label="Search" (click)="refreshVideos()"></button>

    <p-accordion [multiple]="true">
        <ng-container *ngFor="let videos of videosGroup">
            <p-accordionTab [header]="videos.date" [selected]="true">
                <lightbox [sources]="videos.videos" [type]="'video'"></lightbox>
            </p-accordionTab>
        </ng-container>
    </p-accordion>
</div>