<div class="app-images">
    <div class="content-toolbar">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <button pButton *userPermission icon="pi pi-upload" label="Upload"
                    (click)="toolbarState='upload'"></button>
                <button pButton icon="pi pi-search" label="Search" (click)="toolbarState='search'"></button>
            </div>
        </p-toolbar>
        <p-fieldset *ngIf="toolbarState==='upload'" legend="Upload">
            <p-fileUpload #fileUpload [files]="uploadFileList" accept="image/jpeg" customUpload="true"
                [showUploadButton]=false (uploadHandler)="uploadFiles($event)" multiple="multiple">
                <ng-template pTemplate="toolbar">
                    <div>Images Date: <p-calendar [(ngModel)]="imagesDate" dateFormat="M-dd-yy"></p-calendar>
                        <button pButton class="ui-button-success" [disabled]="fileUpload.files.length===0"
                            icon="pi pi-upload" label="Upload" (click)="fileUpload.upload($event)"></button>
                    </div>
                </ng-template>
            </p-fileUpload>
        </p-fieldset>
        <p-fieldset *ngIf="toolbarState==='search'" legend="Search">
            <p-calendar [(ngModel)]="startDate" [maxDate]="endDate" dateFormat="M-dd-yy"></p-calendar>
            <p-calendar [(ngModel)]="endDate" [minDate]="startDate" dateFormat="M-dd-yy"></p-calendar>
            <button pButton class="ui-button-success" icon="pi pi-search" label="Search"
                (click)="refreshImages()"></button>
        </p-fieldset>
    </div>

    <div class="content-view">
        <p-accordion [multiple]="true">
            <ng-container *ngFor="let images of imagesGroup">
                <p-accordionTab [header]="images.date" [selected]="true">
                    <lightbox [sources]="images.images"></lightbox>
                </p-accordionTab>
            </ng-container>
        </p-accordion>
    </div>
</div>