<div class="admin-log">
    <div class="content-toolbar">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <p-calendar [(ngModel)]="startDate" [maxDate]="endDate" dateFormat="M-dd-yy"></p-calendar>
                <p-calendar [(ngModel)]="endDate" [minDate]="startDate" dateFormat="M-dd-yy"></p-calendar>
                <button pButton class="ui-button-success" icon="pi pi-search" label="Search"
                    (click)="refreshLogs()"></button>
            </div>
        </p-toolbar>
    </div>

    <p-table [value]="logs">
        <ng-template pTemplate="header">
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Method</th>
                <th>Url</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-log>
            <tr>
                <td>{{log.date}}</td>
                <td>{{log.message}}</td>
                <td>{{log.properties.method}}</td>
                <td>{{log.properties.url}}</td>
                <td></td>
            </tr>
        </ng-template>
    </p-table>
</div>