<div class="app-files">
    <div class="content-toolbar">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <ng-container *ngIf="viewMode">
                    <button pButton *userPermission icon="pi pi-upload" label="Upload"
                        (click)="isPublic=true;toolbarState='upload'"></button>
                    <button pButton *userPermission icon="fas fa-folder-plus" label="Create Folder"
                        (click)="isPublic=true;toolbarState='newFolder'"></button>
                </ng-container>
            </div>
        </p-toolbar>
        <p-fieldset *ngIf="toolbarState==='upload' && viewMode" legend="Upload">
            <p-fileUpload #fileUpload [files]="uploadFileList" customUpload="true" [showUploadButton]=false
                (uploadHandler)="uploadFiles($event)" multiple="multiple">
                <ng-template pTemplate="toolbar">
                    <div>
                        <div>
                            <p-checkbox label="Is Public" binary="true" [(ngModel)]="isPublic"></p-checkbox>
                        </div>
                        <button pButton class="ui-button-success" [disabled]="fileUpload.files.length===0"
                            icon="pi pi-upload" label="Upload" (click)="fileUpload.upload($event)"></button>
                    </div>
                </ng-template>
            </p-fileUpload>
        </p-fieldset>
        <p-fieldset *ngIf="toolbarState==='newFolder' && viewMode" legend="Create Folder">
            <div>
                Name:
                <input #newFolderName type="text" pInputText />
            </div>
            <div>
                <p-checkbox label="Is Public" binary="true" [(ngModel)]="isPublic"></p-checkbox>
            </div>
            <button pButton class="ui-button-success" icon="fas fa-folder-plus" label="Create"
                (click)="createFolder(newFolderName.value)"></button>
        </p-fieldset>
    </div>

    <div class="content-view">
        <p-dataView [value]="fileList">
            <p-header>
                <div class="f-r">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
                <div class="c-b"></div>
            </p-header>

            <ng-template let-file pTemplate="listItem">
                <div>
                    <span><i [ngClass]="{'fas fa-folder': file.isFolder,'far fa-file-alt': !file.isFolder}"></i></span>
                    {{file.fileName}}
                </div>
            </ng-template>
            <ng-template let-file pTemplate="gridItem">
                <div class="ui-g-12 ui-md-3">
                    <span><i [ngClass]="{'fas fa-folder': file.isFolder,'far fa-file-alt': !file.isFolder}"></i></span>
                    {{file.fileName}}
                </div>
            </ng-template>
        </p-dataView>
    </div>
    <p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
        <p-footer>
            <button type="button" pButton class="ui-button-success" icon="pi pi-check" label="Yes"
                (click)="cd.accept()"></button>
            <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        </p-footer>
    </p-confirmDialog>
</div>