<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.LiteDb"/>
  </extensions>

  <targets>
    <target name="default" xsi:type="liteDBTarget" connectionString="filename=NLog.db" collectionName="DefaultLog">
    </target>
    <target name="error" xsi:type="liteDBTarget" connectionString="filename=NLog.db" collectionName="ErrorLog">
    </target>
  </targets>

  <rules>
    <logger name="MyNAS.Site.*" minlevel="Trace" maxlevel="Info" writeTo="default" />
    <logger name="MyNAS.Site.*" minlevel="Warn" maxlevel="Error" writeTo="error" />
  </rules>
</nlog>