<div class="common-center icons-container">
    <div class="icons-item">
        <div (click)="updateRoute('images')" class="icons-item-container">
            <i class="far fa-images"></i>
            <div>Images</div>
        </div>
    </div>
    <div class="icons-item">
        <div (click)="updateRoute('videos')" class="icons-item-container">
            <i class="fas fa-video"></i>
            <div>Videos</div>
        </div>
    </div>
    <div class="icons-item">
        <div (click)="updateRoute('movies')" class="icons-item-container">
            <i class="fas fa-film"></i>
            <div>Movies</div>
        </div>
    </div>
</div>