<div class="common-center icons-container">
    <ul class="icons-list">
        <li class="icons-item">
            <div class="icons-item-container">
                <i class="far fa-images"></i>
                <div>Images</div>
            </div>
        </li>
        <li class="icons-item">
            <div class="icons-item-container">
                <i class="fas fa-video"></i>
                <div>Videos</div>
            </div>
        </li>
        <li class="icons-item">
            <div class="icons-item-container">
                <i class="fas fa-film"></i>
                <div>Movies</div>
            </div>
        </li>
    </ul>
</div>