.image-lightbox {
  .image-lightbox-item {
    height: 155px;
    width: 130px;
    padding: 2px;
    display: inline-block;

    .image-lightbox-image {
      height: 100%;
      width: 100%;
    }
  }
}

.image-lightbox-detail {
  .ui-dialog-content {
    height: 100%;
    text-align: center;
  }
}
