/* You can add global styles to this file, and also import other style files */
.p-r {
  position: relative;
}

.p-a {
  position: absolute;
}

.p-f {
  position: fixed;
}

.common-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

//primeng
.ui-dialog-content {
  height: 100%;
}
