.lightbox {
  .lightbox-item {
    height: 155px;
    width: 130px;
    padding: 2px;
    display: inline-block;

    .lightbox-image {
      height: 100%;
      width: 100%;
    }
  }
}

.lightbox-detail {
  .ui-dialog-content {
    text-align: center;
  }
}
