.lightbox {
  .lightbox-item {
    height: 155px;
    width: 130px;
    padding: 2px;
    display: inline-block;
    cursor: pointer;
    position: relative;

    .lightbox-image {
      height: 100%;
      width: 100%;
    }

    .lightbox-image-state {
      position: absolute;
      top: 2px;
      right: 2px;
      font-size: 24px;
    }

    .lightbox-image-private {
      position: absolute;
      bottom: 2px;
      right: 2px;
      font-size: 24px;
    }
  }
}

.lightbox-detail {
  .ui-dialog-content {
    text-align: center;
  }
}
